* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #dc143c;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(7, 7, 20);
    flex-direction: column;
}

.heart-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-heart {
    background: var(--main-color);
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
    animation: heartbeat 1s infinite;
}

.red-heart::before,
.red-heart::after {
    content: "";
    background: var(--main-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}

.red-heart::before {
    top: -50px;
    left: 0;
}

.red-heart::after {
    left: 50px;
    top: 0;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    25% {
        transform: scale(1.1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
    75% {
        transform: scale(1.1) rotate(-45deg);
    }
}
